body {
    background-color: blueviolet;
}

.container-fluid {
    margin-top: 20px;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  #custom-navbar {
    background-color: rgba(255, 255, 255, 0.5);
  }

  #jumbotron {
    margin-bottom: 20px; 
  }
  
  #work-section {
    margin-bottom: 40px; 
  }
  
  #skills-section {
    margin-bottom: 40px; 
  }
  
  #aboutme-section {
    margin-bottom: 40px; 
  }
  
  #footer {
    padding-top: 20px;
  }
  
  footer .list-inline-item {
    margin-right: 10px;
  }
  